Register a nickname!
%form{:name => "register", :method => "post",  :action=>'/register'}
  Please enter a nickname. This is what people will know you by on Wardrobe.
  %input{:type => 'text', :name => 'nickname'}
  %input{:type => 'submit', :value => 'Submit'}